script(src="assets/js/countdown.js")
script(type='text/javascript').
    $(function(){
        var wisitUTCTime = Date.UTC(2015, 8, 19, 13)
        Countdown.createOn('.countdown', new Date(wisitUTCTime));
    });