script(src="assets/js/countdown.js")
script(type='text/javascript').
    $(function(){
        var wisitUTCTime = Date.UTC(2015, 8, 19, 13);
        var researchDeadlineUTCTime = Date.UTC(2015, 7, 11, 3)
        Countdown.createOn('.countdown', new Date(wisitUTCTime));
        Countdown.createOn('.submissions-countdown', new Date(researchDeadlineUTCTime));
    });