.container
  img#logoMain.img-responsive.center-block(src='assets/img/Wisit15.png')
  p.text-center.text-uppercase Tercer workshop de ingeniería en sistemas y tecnologías de la información
  p#eventoGratuito.text-center.text-uppercase • evento gratuito •
  p Lo que se quiera poner aca

