@import '../globals'

.tracks 
  h3 
    font 2em condensed
    margin-vertical 1.1em .3em
    color celeste
    text-transform uppercase

  p
    font 1.3em condensed
    color grisMedio

img#foto
  margin-top 2.2em
  size: 100%

#map-canvas
  margin-vertical 2em
  margin-left 3em
  height 20em
