  .row
    .col-md-6
      ul.tracks
        h3.title-bullet.text-uppercase: li Track Investigación
        p Trabajos científicos que tengan como objetivo mejorar la forma en que desarrollamos software o formamos nuevos profesionales, favoreciendo la interacción entre el ámbito académico y el industrial.

        h3.title-bullet.text-uppercase: li Track Experiencias
        p Exposiciones sobre experiencias concretas en la aplicación de tecnologías y metodologías innovadoras en el ámbito industrial y docente.

        h3.title-bullet.text-uppercase: li Mostrá tu proyecto
        p Charlas breves en las que los asistentes pueden mostrar sus proyectos innovadores al resto de la comunidad.

    .col-md-6: img#foto(src='assets/img/foto-frba-aula-magna.png')
