@import '../globals'

.bajada
  font 1.3em condensed
  color grisMedio

.tracks 
  p
    font 1.3em condensed
    color grisMedio

img#foto
  margin-top 1.2em
  size: 100%


.datos
  margin-vertical 2em

  h2 
    margin-top 0em
    
  p
    text-align center
    font-size 1.5em
    color grisMedio
    margin-left .25em
    margin-bottom .1em

  p.donde
    text-transform uppercase
    color celeste
    font-size 1.6em

  p.direccion
    font-size 1.4em

#map-canvas
  margin-vertical 2em
  // margin-left 3em
  height 20em
