@import '../globals'

.bajada
  font 1.3em condensed
  color grisMedio

.tracks 
  p
    font 1.3em condensed
    color grisMedio

img#foto
  margin-top 1.2em
  size: 100%


.datos
  margin-vertical 2em

  h2 
    margin-top 0em
    
  p
    text-align center
    font-size 1.5em
    color grisMedio
    margin-left .25em
    margin-bottom .1em

  p.donde
    text-transform uppercase
    color celeste
    font-size 1.6em

  p.direccion
    font-size 1.4em

.cronograma 
  margin-vertical 1em
  
  th, td
    padding: 4px 8px
    border 3px solid white

  td
    font 1.2em condensed
    background-color #e0e0e0
    border 3px solid white
    color grisOscuro
    
  td.horario
    width 6%
    text-align center
    
  td.talk
    width 47%
    
  .speaker
    font-size .8em
    margin-top .5em
    
  th.ubicacion
    font-size: 1.4em;
    font-family: 'Open Sans Condensed',sans-serif;
    background-color: #808080;
    color: #fff;

  
.row.detalle-talleres
  font-size 1.3em
  color grisMedio
  .col-xs-12
    @media (max-width: 992px)
      margin-vertical 1em

    .title-bullet
      font-size 1.5em
      margin-vertical 1em .5em

    h2 
      margin-vertical .5em 
    
    .detalle
      .destacadito, .orador .nombre
        font-size 1.2em
        margin-vertical .75em 0.25em

      .abstract, .orador .bio
        padding-left 0em
   
#map-canvas
  margin-vertical 2em
  // margin-left 3em
  height 20em

