extends ../_shared/_base_layout

append styles
  link(rel="stylesheet" href="workshop/index.css")

append scripts
  script(src="https://maps.googleapis.com/maps/api/js")
  script(type='text/javascript').
    function initialize() {
      var uqnLatlng = new google.maps.LatLng(-34.706508,-58.2782888);
      var mapCanvas = document.getElementById('map-canvas');
      var mapOptions = {
        zoom: 14,
        center: uqnLatlng,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };

      var map = new google.maps.Map(mapCanvas, mapOptions);
      var marker = new google.maps.Marker({
          position: uqnLatlng,
          map: map,
          title: 'Universidad Nacional de Quilmes'
      });
    }
    google.maps.event.addDomListener(window, 'load', initialize);


block content
  .titulo Workshop

  .row 
    .col-xs-12.bajada
      p Vení el 19 de septiembre a enterarte de las novedades en desarrollo de software en la tercera edición del Workshop. Si querés saber de qué se trata, podés mirar las charlas de las ediciones pasadas en nuestro canal de 
        a(href=) YouTube

  .row
    .col-md-6
      ul.tracks
        h3: li Track Investigación
        p Trabajos científicos que tengan como objetivo mejorar la forma en que desarrollamos software o formamos nuevos profesionales, favoreciendo la interacción entre el ámbito académico y el industrial.

        h3: li Track Experiencias
        p Exposiciones sobre experiencias concretas en la aplicación de tecnologías y metodologías innovadoras en el ámbito industrial y docente.

        h3: li Mostrá tu proyecto
        p Charlas breves en las que los asistentes pueden mostrar sus proyectos innovadores al resto de la comunidad.

    .col-md-6: img#foto(src='assets/img/foto-frba-aula-magna.png')


  .row 
    .col-md-4.datos
      h2.subtitulo Ubicación
      p.cuando 19 de Septiembre
      p.donde Universidad Nacional <br> de Quilmes
      p.direccion Roque Saenz Peña 352 <br> Bernal, Pcia. de Buenos Aires

    .col-md-8: #map-canvas.center
