.gold: center
    a(href='http://www.10pines.com/')
        img#pines(src='assets/img/sponsors/10pines.png')
.gold: center
    a(href='http://scvsoft.com/')
        img#scv(src='assets/img/sponsors/scv_color.png')