.silver: center
    a(href='http://www.fundacionsadosky.org.ar')
        img#sadosky(src='assets/img/sponsors/sadosky.svg')
.silver: center
    a(href='http://7puentes.com/')
        img#sadosky(src='assets/img/sponsors/Logo 7Puentes-06.png')
.silver: center
    a(href='http://www.unsam.edu.ar/cidi')
        img#cidi(src='assets/img/sponsors/cidi.png')