.sponsors
  margin-vertical 50px

  h2
    width: 100%
    color: grisOscuro;
    font: 600 20px OpenSans;
    font-family 'Open Sans', sans-serif
    margin-bottom 15px

  hr
    border-top: 1px solid #bbb;

  div
    display inline-block
    margin-vertical 30px

  .platinum
    width 100%

  .gold
    width 40%

  .silver
    width 27.5%

  img
    width 75%

  #cidi
    margin-vertical -5%

  #sadosky
    margin-vertical -15%