@import 'util'
@import 'cajas'
@import '_shared/navbar/navbar'

body 
  padding-top 70px
  font-family 'Open Sans Condensed', sans-serif

  .container
    max-width 960px

hr
  height 2px
  border 0 none
  margin 15px

.destacado
  color celeste
  text-transform uppercase
  font-size 33px
  font-family 'Open Sans Condensed', sans-serif

.subdestacado
  @extends .destacado
  color grisOscuro

.titulo
  font 3.8em condensed
  background-color celeste
  color white
  text-transform uppercase
  shadow .20em
  padding-horizontal .26em
  display inline-block
  margin-vertical .5em

h2
  font 2.45em condensed
  @media (max-width: 992px)
    font 3em condensed

  background-color celeste
  color white
  text-transform uppercase
  padding-horizontal .31em
  padding-vertical .14em
  display inline-block
  margin-vertical .25em 1em
  shadow .20em


.gris
  font-family 'Open Sans', sans-serif
  color grisMedio
  font 1.3em condensed

.recuadro
  border 2px solid celeste
  padding-horizontal 15px
  margin-top 15px
  width 50%
  margin-horizontal auto
  margin-bottom 10%
  
.center
  text-align center

.boton
  font 2.5em condensed
  background-color celeste
  color white