@import 'sombras'

padding-vertical(distance)
  padding-top distance
  padding-bottom distance

margin-vertical(distance)
  margin-top distance
  margin-bottom distance

margin-horizontal(distance)
  margin-left distance
  margin-right distance

@import 'cajas'
@import '_shared/navbar/navbar'

body 
  padding-top 70px
  font-family 'Open Sans Condensed', sans-serif

  .container
    max-width 960px

.center
  display: block;
  box-sizing: content-box;
  margin-left: auto;
  margin-right: auto;

.col-md-offset-15
  margin-left 12.5%
