celeste = #5C90BF

body 
  padding-top 70px
  font-family 'Open Sans Condensed', sans-serif

  img#logoMain
    max-width: 60%

.caja
  text-align center
  h1
    color white
    display inline-block
    background-color black
    -webkit-box-shadow 7px 7px 0px 0px rgba(0, 0, 0, 0.35)
    -moz-box-shadow 7px 7px 0px 0px rgba(0, 0, 0, 0.35)
    box-shadow 7px 7px 0px 0px rgba(0, 0, 0, 0.35)
    margin-bottom  0px
    margin-top 0px
    z-index -1

.info
  z-index 2
  overflow hidden
  color white
  background-color celeste
  -webkit-box-shadow 7px 7px 0px 0px rgba(0, 0, 0, 0.35)
  -moz-box-shadow 7px 7px 0px 0px rgba(0, 0, 0, 0.35)
  box-shadow 7px 7px 0px 0px rgba(0, 0, 0, 0.35)

nav.navbar-inverse
  background-color celeste
  background-image: none
  border-width: 0
  border-radius: 0

  .navbar-brand
    padding 8px 30px

    #logo-wisit
      height 30px

    .navbar-toggle .icon-bar
      background-color: white
    
  #fixed-navbar-uqbar 
    position relative
    min-height 50px

    ul 
      position absolute
      bottom 0
      right 0

      li
        padding 0px 5px

        a
          color white
          font-weight 600
          font-size 15px
          text-transform uppercase
          padding 10px

