.container
  != partial("shared/navbar/_navbar")

  img(src='wisit15')
  .caja
      h1 Talleres
      .info
          h 11º de Agosto
          h3 En UTN, Medrano 951. CABA
          a(href='') Inscribite
          a(href='') Mas info

      .info
          h 112 de Septiembre
          h3 En UTN, Medrano 951. CABA
          a(href='') Inscribite
          a(href='') Mas info

  .caja
      h1 Evento Principal
      .info
          h1 19 de Septiembre
          h2 Universidad nacional de quilmes
          h3 En roque saenz peña 352, Pcia de Buenos Aires
          a(href='') Inscribite
          a(href='') Mas info

  .caja
      h1 Participa
      .info
          h1 Como publico o asistente
          a(href='') Inscribite

      .info
          h1 Proponé tu charla
          a(href='') Más info

