celeste = #5C90BF

body 
  padding-top 70px

nav.navbar-default
  div
    background-color celeste

  .container-fluid
    max-width: 960px

  border-width: 0
  border-radius: 0

  .navbar-brand
    padding 5px

    #logo-wisit
      height 45px

    .navbar-toggle .icon-bar
      background-color: #fff
    
  #fixed-navbar-uqbar ul li
    padding: 0px 10px

    a
      color white
      font-weight 600
      font-size 15px

