shadow(distance)
  horizontal_shadow = distance * 0.5
  vertical_shadow = distance * 0.866
  -webkit-box-shadow horizontal_shadow vertical_shadow 0px 0px rgba(0, 0, 0, 0.35)
  -moz-box-shadow horizontal_shadow vertical_shadow 0px 0px rgba(0, 0, 0, 0.35)
  box-shadow horizontal_shadow vertical_shadow 0px 0px rgba(0, 0, 0, 0.35)
