extends _home_layout

append scripts
    != partial('../_shared/countdown/countdown_scripts')

block basetag
  -var base = '.'

block child
    img#logoMain.img-responsive.center-block(src='assets/img/Wisit15.png')
    p.bajada.text-center Tercer workshop de ingeniería en sistemas y tecnologías de la información
    p.destacado.text-center.text-uppercase • evento gratuito •
    != partial('../_shared/countdown/countdown')
    .row.row-eq-height
        .col-md-4.caja
            h1 Hands on
            #info-principal.info.caja_home
                .main-contents
                    h2 12 de Septiembre
                    h4 Universidad Nacional de Quilmes
                    h4
                        span Roque Saenz Peña 352 
                        span Bernal, Pcia. de Buenos Aires
                .botones
                    a(href='handson') Más info
        .col-md-4.caja
            h1 Workshop
            #info-principal.info.caja_home
                .main-contents
                    h2 19 de Septiembre
                    h3 
                        span Universidad 
                        span Nacional de Quilmes
                    h4 
                        span Roque Saenz Peña 352 
                        span Bernal, Pcia. de Buenos Aires
                .botones
                    a(href='inscripcion') Inscribite
                    a(href='workshop') Más info
        .col-md-4.caja
            h1 Participá
            #info-participa.info.caja_home
                .main-contents
                    h2 Mostrá tu proyecto
                    a(href='propone') Más info
                    br
                    br
                    hr
                    h2 ¿No sabés cómo ir?
                .botones
                    a(href='inscripcion') Transporte gratuito

    .row.row-eq-height.logos
        h2 Organizan
        hr
        center
            .silver: center
                a(href="http://www.uqbar.org")
                    img(src='assets/img/logoUqbar.gif')
            .silver: center
                a(href="http://www.unq.edu.ar/")
                    img(src='assets/img/unq.png')

    .row.row-eq-height.sponsors
        h2 Sponsors
        hr
        center
            !=partial('../_shared/sponsors/sponsors')
