extends _home_layout

append scripts
    != partial('../_shared/countdown/countdown_scripts')

block basetag
  -var base = '.'

block child
    img#logoMain.img-responsive.center-block(src='assets/img/Wisit15.png')
    p.bajada.text-center Tercer workshop de ingeniería en sistemas y tecnologías de la información
    p.destacado.text-center.text-uppercase • evento gratuito •
    != partial('../_shared/countdown/countdown')
    .row.row-eq-height
        .col-md-4.caja
            h1 Hands on
            #info-talleres.info.caja_home
                h2 12 de Septiembre
                h4 Universidad Nacional de Quilmes
                h4
                    span Roque Saenz Peña 352 
                    span Bernal, Pcia. de Buenos Aires
                .botones
                    a(href='inscripcion#handson') Inscribite
                    a(href='handson') Más info
                hr
                h2 
                    span ¡Próximamente 
                    span más talleres!
        .col-md-4.caja
            h1 Workshop
            #info-principal.info.caja_home
                .main-contents
                    h2 19 de Septiembre
                    h3 
                        span Universidad 
                        span Nacional de Quilmes
                    h4 
                        span Roque Saenz Peña 352 
                        span Bernal, Pcia. de Buenos Aires
                .botones
                    a(href='inscripcion') Inscribite
                    a(href='workshop') Más info
        .col-md-4.caja
            h1 Participá
            #info-participa.info.caja_home
                h2 
                    span Asistí a las 
                    span charlas y talleres
                a(href='inscripcion') Inscribite
                hr
                h2 Proponé tu CHARLA
                .botones
                    a(href='propone') Más info

    .row.row-eq-height.logos
        h2 Organizan
        hr
        center
            img(src='assets/img/uqbar.png')
            img(src='assets/img/unq.png')

    .row.row-eq-height.logos.sponsors
        h2 Sponsors
        hr
        .col-xs-4
            img(src='assets/img/10pines.png')
        .col-xs-4
            img#cidi(src='assets/img/cidi.png')
        .col-xs-4
            img#sadosky(src='assets/img/sadosky.svg')

    .row.row-eq-height.sumate
        a(href='sponsors')
            span.destacado ¡Sumá 
            span.subdestacado tu empresa!
