extends _home_layout

block basetag
  -var base = '.'

block child
    img#logoMain.img-responsive.center-block(src='assets/img/Wisit15.png')
    p.text-center.text-uppercase Tercer workshop de ingeniería en sistemas y tecnologías de la información
    p#eventoGratuito.text-center.text-uppercase • evento gratuito •
    .row.row-eq-height
        .col-md-4
            .caja
                h1 Talleres
                .info
                    h2 11º de Agosto
                    h4 En UTN, Medrano 951. CABA
                    a(href='') Inscribite
                    a(href='') Mas info
                    h2 112 de Septiembre
                    h4 En UTN, Medrano 951. CABA
                    a(href='') Inscribite
                    a(href='') Mas info
        .col-md-4
            .caja
                h1 Evento Principal
                .info
                    h2 19 de Septiembre
                    h3 Universidad nacional de quilmes
                    h4 En roque saenz peña 352, Pcia de Buenos Aires
                    a(href='') Inscribite
                    a(href='wisit') Mas info
        .col-md-4
            .caja
                h1 Participa
                .info
                    h2 Como publico o asistente
                    a(href='') Inscribite
                    h2 Proponé tu charla
                    a(href='') Más info