extends _home_layout

block basetag
  -var base = '.'

block child
    img#logoMain.img-responsive.center-block(src='assets/img/Wisit15.png')
    h1.text-center.text-uppercase Tercer workshop de ingeniería en sistemas y tecnologías de la información
    p.destacado.text-center.text-uppercase • evento gratuito •
    .row.row-eq-height
        .col-md-4
            .caja
                h1 Talleres
                #info-talleres.info
                    h2 1º de Agosto
                    h4 En UTN, Medrano 951, C.A.B.A.
                    a(href='') Inscribite
                    a(href='') Mas info
                    hr
                    h2 12 de Septiembre
                    h4 En UNQ, Roque Saenz Peña 352 <br> Pcia. de Buenos Aires
                    .botones
                        a(href='') Inscribite
                        a(href='') Más info
        .col-md-4
            .caja
                h1 Evento Principal
                #info-principal.info 
                    .vcenter-container
                        .vcenter-contents
                            h2 19 de Septiembre
                            h3 Universidad <br> Nacional de Quilmes
                            h4 En Roque Saenz Peña 352 <br> Pcia. de Buenos Aires
                    .botones
                        a(href='') Inscribite
                        a(href='wisit') Más info
        .col-md-4
            .caja
                h1 Participá
                #info-participa.info
                    h2 Como PÚBLICO o ASISTENTE
                    a(href='') Inscribite
                    hr
                    h2 Proponé tu CHARLA
                    .botones
                        a(href='') Más info

    .row.row-eq-height.logos
        .col-md-6.col-md-offset-1.col-xs-8
            h2 Organizan
            center
                img(src='assets/img/uqbar.png')
                img(src='assets/img/unq.png')
        .col-md-4.col-xs-4
            h2 Sponsor
            span.destacado Sumá
            span.subdestacado tu empresa!
