extends _home_layout

block basetag
  -var base = '.'

block child
    img#logoMain.img-responsive.center-block(src='assets/img/Wisit15.png')
    p.text-center.text-uppercase Tercer workshop de ingeniería en sistemas y tecnologías de la información
    p#eventoGratuito.text-center.text-uppercase • evento gratuito •
    .row.row-eq-height
        .col-md-4
            .caja
                h1 Talleres
                .info
                    h2 11º de Agosto
                    h4 En UTN, Medrano 951, C.A.B.A.
                    a(href='') Inscribite
                    a(href='') Mas info
                    hr
                    h2 12 de Septiembre
                    h4 En UNQ, Roque Saenz Peña 352, Pcia de Buenos Aires
                    a(href='') Inscribite
                    a(href='') Más info
        .col-md-4
            .caja
                h1 Evento Principal
                .info
                    h2 19 de Septiembre
                    h3 Universidad Nacional de Quilmes
                    p En Roque Saenz Peña 352 <br> Pcia. de Buenos Aires
                    a(href='') Inscribite
                    a(href='wisit') Más info
        .col-md-4
            .caja
                h1 Participa
                .info
                    h2 Como público o asistente
                    a(href='') Inscribite
                    hr
                    h2 Proponé tu charla
                    a(href='') Más info