@import '../globals'

img#logoMain
  max-width: 66%

p#subtitulo
  font: 700 21.88px OpenSans;
  font-family 'Open Sans Condensed', sans-serif
  font-size: 21.88px;
  margin-bottom: 2px

p#eventoGratuito
  color celeste
  font-size 33px
  margin-bottom: 30px

#caja-participa h2
  font-size 30px

