@import '../globals'

body 
  padding-top 70px
  font-family 'Open Sans Condensed', sans-serif

  .container
    max-width 960px

  img#logoMain
    max-width: 60%

  p#eventoGratuito
    color celeste
    font-size 33px

.caja
  text-align center
  
  h1
    font-size 22px
    padding 3px 5px
    color white
    text-transform uppercase
    display inline-block
    background-color black
    shadow 7px
    margin-bottom  0px
    margin-top 0px
    z-index -1
    position relative

.info
  min-height 286px
  padding-bottom 10px
  overflow hidden
  color white
  background-color celeste
  shadow 7px
  a
    padding-left 20px
    padding-right 20px
    margin 10px
    background-color white
    border-radius 15px
    text-transform uppercase
    shadow 5px

shadow(size)
    -webkit-box-shadow size size 0px 0px rgba(0, 0, 0, 0.35)
    -moz-box-shadow size size 0px 0px rgba(0, 0, 0, 0.35)
    box-shadow size size 0px 0px rgba(0, 0, 0, 0.35)
