@import '../globals'

img#logoMain
  max-width: 66%

.bajada
  font: 700 21.88px OpenSans;
  font-family 'Open Sans Condensed', sans-serif
  font-size: 21.88px;
  margin-bottom: 2px
  text-transform uppercase

@media (min-width: 992px) 
  .caja span 
    display block

@media (max-width: 992px) 
  .caja h4 span
    font-size 14px

  .botones
    margin-vertical 20px

@media (max-width:480px)
  .destacado, .subdestacado 
    font-size:23px; 

.caja_home
  min-height 286px

#info-talleres h2
  font-size 30px
    
#info-principal
  @media (min-width: 992px) 
    .main-contents 
      padding-vertical 10%
  
  h2
    font-size 36x

#info-participa 
  h2
    font-size 33px
    margin-top 18px
    margin-bottom 18px

  hr
    margin-top 25px
    margin-bottom 18px

.logos
  padding-vertical 50px
  text-align: center

  h2
    width: 100% 
    color: grisOscuro;
    font: 600 20px OpenSans;
    font-family 'Open Sans', sans-serif
    margin-bottom 15px

  img 
    margin-horizontal 30px

  span
    margin-horizontal 3px
    margin-vertical -10px
    padding-vertical 0px