append styles
    link(rel="stylesheet" href="./social.css")

.row.row-eq-height.social
    .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
        ul.list-inline.text-center
            li
                a(href="https://twitter.com/UqbarProject")
                    span.fa-stack.fa-lg
                        i.fa.fa-circle.fa-stack-2x
                        i.fa.fa-twitter.fa-stack-1x.fa-inverse
            li
                a(href="http://facebook.com/uqbarproject")
                    span.fa-stack.fa-lg
                        i.fa.fa-circle.fa-stack-2x
                        i.fa.fa-facebook.fa-stack-1x.fa-inverse
            li
                a(href="https://plus.google.com/114074221227060701525?rel=author")
                    span.fa-stack.fa-lg
                        i.fa.fa-circle.fa-stack-2x
                        i.fa.fa-google-plus.fa-stack-1x.fa-inverse
            li
                a(href="https://www.youtube.com/channel/UCcj9rZ9TeeJDnvcVA9cmYMw")
                    span.fa-stack.fa-lg
                        i.fa.fa-circle.fa-stack-2x
                        i.fa.fa-youtube.fa-stack-1x.fa-inverse