nav.navbar-inverse
  background-color celeste
  background-image none
  border-width 0
  border-radius 0

  .navbar-brand
    padding 9.5px 30px

  .navbar-toggle .icon-bar 
    background-color: white
    
  #fixed-navbar-uqbar ul li
    padding 15px 10px 0px 10px

    a
      color white
      font-weight 600
      font-size 15px
      text-transform uppercase
      padding 0px

