nav.navbar-inverse
  background-color celeste
  background-image none
  border-width 0
  border-radius 0

  .navbar-brand
    padding 9.5px 30px

  .navbar-toggle .icon-bar 
    background-color: white
    
  #logo-wisit
    height 30px
    
  #fixed-navbar-uqbar ul li
    padding 20px 10px 0px 10px


    a
      color white
      font-weight 600
      font-size 15px
      text-transform uppercase
      padding 0px

  #fixed-navbar-uqbar ul li.active
    padding 20px 10px 0px 10px
    background-color: #6EA2D2
    padding-bottom: 10px
    border-bottom: white
    border-bottom-width: 5px
    border-bottom-style: inset
    box-shadow: none

    a
      background-image: none
      background-color: inherit
      box-shadow: inherit
      font-weight: 600
      font-size: 15px
      text-transform: uppercase
      padding 0px

  li
    font 1.3em condensed
