@import '../globals'

.tracks 
  h3 
    font 2em condensed
    margin-vertical .6em .2em
    color celeste
    text-transform uppercase

  p
    font 1.3em condensed
    color grisMedio

  a.boton
    font 1.4em condensed
    margin-horizontal auto