extends ../_shared/_base_layout

append styles
  link(rel="stylesheet" href="propone/index.css")

block content
    .titulo Proponé tu charla
    .row.row-eq-height
        .col-md-4.caja
            h1 Investigación
            #info-talleres.info.caja_propone
                p Trabajos científicos que tengan como objetivo mejorar la forma en que desarrollamos software o formamos nuestros profesionales, favoreciendo la interacción entre el ámbito académico y el industrial.
                .botones
                    a(href='propone/research.html') Más info

        .col-md-4.caja
            h1 Experiencias
            #info-talleres.info.caja_propone
                p Exposiciones sobre experiencias concretas en la aplicación de tecnologías y metodologías innovadoras en el ámbito industrial y docente.
                .botones
                    a(href='propone/#experiencias') Muy pronto

        .col-md-4.caja
            h1 Show us
            #info-talleres.info.caja_propone
                p Charlas breves en las que los asistentes pueden mostrar sus proyectos innovadores al resto de la comunidad.
                .botones
                    a(href='propone/#showus') Muy pronto
