extends ../_shared/_base_layout

mails = public._data.propone.mails

append styles
  link(rel="stylesheet" href="propone/index.css")

block content
  - mails = public._data.propone.mails

  .titulo Proponé tu charla

  .row
    .col-md-6
      ul.tracks
        h3.title-bullet.text-uppercase: li Mostrá tu proyecto
        p ¿Estás trabajando en un proyecto novedoso? ¡Vení y contanos tus ideas!
        p No se requiere inscripción previa, acercate con tu propuesta el día de la conferencia. En caso de dudas mandá tu consulta a 
            a(href="mailto:#{ mails.info }") #{ mails.handson } 
