@import '../globals'

body
  font-family 'Open Sans', sans-serif
  color grisMedio

.miniDestacado
  color celeste
  text-transform uppercase
  font 1.3em condensed
  margin-vertical 2em 0.4em

ul 
  padding-left 1.5em  

li
  font 1.3em condensed

#criterios li
  margin-bottom .5em

.submissions
  text-align center
  margin-vertical 4em
  .boton
    font 2.5em condensed
    background-color celeste
    color white

hr
  background-color celeste

.comite
  h2
    font 4em condensed
    @media (min-width: 992px)
      font 2.45em condensed
    background-color celeste
    color white
    text-transform uppercase
    padding-horizontal .31em
    padding-vertical .14em
    display inline-block
    margin-vertical .25em .6em
    shadow .20em

  .row
    margin-bottom 1em

  .col-xs-4
    padding-right 0px

  .foto
    border-radius 50%
    overflow hidden

  .foto img
      width 100%

  .rol
    text-transform uppercase
    line-height 1em

    font 3em condensed
    @media (min-width: 992px)
      font 1.3em condensed

  .nombre
    line-height 1.1em
    font 2.8em condensed
    @media (min-width: 992px)
      font 1.2em condensed
    
    color celeste

.recuadro
  border 2px solid celeste
  padding-horizontal 15px
  margin-top 15px
  width 85%
  margin-horizontal auto
  margin-bottom 10%

  .head 
    p
      text-align center
      margin 0px

    hr 
      height 4px
      margin 0px 0px 15px 0px 

  .body
    hr
      height 1px
      margin-horizontal 0px

    .fecha
      font 1.3em condensed
      line-height 1em

    .desc-fecha
      color celeste
      line-height 1.1em
