extends ../_shared/_base_layout

append styles
  link(rel="stylesheet" href="propone/research.css")

block content
  h1 Research Track

  #top.row
    .col-md-6
      .miniDestacado Se aceptarán papers, experiencias y hands on sobre aplicaciones innovadoras en las siguientes áreas:

      ul
        li Lenguajes de programación
        li Herramientas de desarrollo
        li Arquitectura de software
        li Metaprogramación
        li Implementación de lenguajes de programación
        li Compiladores
        li Optimización de lenguajes
        li Lenguajes específicos de dominio (DSLs)
        li Frameworks, bibliotecas y algoritmos
        li Máquinas virtuales
        li Interfaces de usuario
        li Patrones de diseño
        li Enseñanza de y con programación
        li Call for papers

    #criterios.col-md-6
      .miniDestacado Para la selección de los trabajos se dará especial importancia a los siguientes criterios:
      ul
        li Innovación. El trabajo debe explicitar en forma clara y precisa la contribución realizada.
        li Aplicación en industria o en docencia.
        li Consideración de problemáticas sociales (no excluyente)
        li Utilización, producción y promoción de software de libre y/o de código abierto (no excluyente)

      .submissions
        a.boton(href='https://easychair.org/conferences/?conf=wisit15') ¡Enviá tu paper!

  .row
    .col-md-6.comite
      hr
      h2 Comité de programa
      .row
        .col-md-2.col-xs-4
          .foto: img(src='assets/img/leo.jpg')
        .col-md-10.col-xs-8
          .rol Chair
          .nombre Leonardo Gassman    
          img.mail(src='assets/img/mail.png')
      .row
        .col-md-6
          .row
            .col-xs-4
              .foto: img(src='assets/img/carlosLombardi.jpg')
            .col-xs-8
              .rol Co-Chair
              .nombre Guillermo Polito    
              img.mail(src='assets/img/mail.png')

        .col-md-6
          .row
            .col-xs-4
              .foto: img(src='assets/img/carlosLombardi.jpg')
            .col-xs-8
              .rol Co-Chair
              .nombre Carlos Lombardi    
              img.mail(src='assets/img/mail.png')

    .col-md-6
      .recuadro
        .head
          p.destacado Fechas Importantes
          hr

        .body
          ul: li 
              .fecha 10 de agosto 
              .desc-fecha Fecha límite para la presentación de trabajos
          hr
          ul: li 
              .fecha 31 de agosto 
              .desc-fecha Notificación de trabajos aceptados 
          hr
          ul: li
              .fecha 19 de septiembre 
              .desc-fecha Wisit 15