@import '../globals'

body
  font-family 'Open Sans', sans-serif
  color grisMedio

.miniDestacado
  color celeste
  text-transform uppercase
  font 1.3em condensed
  margin-vertical 2em 0.4em

ul 
  padding-left 1.5em  

li
  font 1.3em condensed

#criterios li
  margin-bottom .5em

.submissions
  text-align center
  margin-vertical 2em
  .boton
    font 2.5em condensed
    background-color celeste
    color white

.submissions-countdown-container
  text-align center

hr
  background-color celeste

.comite
  .row
    margin-bottom 1em

  .col-xs-4
    padding-right 0px

  .foto
    border-radius 50%
    overflow hidden
    @media (max-width: 992px)
      width 80%

  .foto img
      width 100%

  .rol
    text-transform uppercase
    line-height 1em

    font 1.3em condensed

  .nombre
    line-height 1.1em
    font 1.2em condensed
    
    color celeste

  .mail
    margin-top .3em
    width 2em

  .col-xs-8
    margin-top .4em

  @media (max-width: 992px)
    font-size 2.5em


.recuadro
  border 2px solid celeste
  padding-horizontal 15px
  margin-top 15px
  width 85%
  margin-horizontal auto
  margin-bottom 10%

  .head 
    p
      text-align center
      margin 0px

    hr 
      height 4px
      margin 0px 0px 15px 0px 

  .body
    hr
      height 1px
      margin-horizontal 0px

    .fecha
      font 1.3em condensed
      line-height 1em

    .desc-fecha
      color celeste
      line-height 1.1em
