extends ../_shared/_base_layout

append styles
  link(rel="stylesheet" href="propone/research.css")

block content
  h1 Research Track

  .row
    .col-md-6
      .miniDestacado Se aceptarán papers, experiencias y hands on que resulten de aplicaciones innovadoras en las siguientes áreas:

      ul
        li Lenguajes de programación
        li Herramientas de desarrollo
        li Arquitectura de software
        li Metaprogramación
        li Implementación de lenguajes de programación
        li Compiladores
        li Optimización de lenguajes
        li Lenguajes específicos de dominio (DSLs)
        li Frameworks, bibliotecas y algoritmos
        li Máquinas virtuales
        li Interfaces de usuario
        li Patrones de diseño
        li Enseñanza de y con programación
        li Call for papers

    .col-md-6
      .miniDestacado Para la selección de los trabajos se dará especial importancia a los siguientes criterios:
      ul
        li Innovación. El trabajo debe explicitar en forma clara y precisa la contribución realizada.
        li Aplicación en industria o en docencia.
        li Consideración de problemáticas sociales (no excluyente)
        li Utilización, producción y promoción de software de libre y/o de código abierto (no excluyente)

  .row 
    span Submissions:
    span Link para proponer artículos científicos: https://easychair.org/conferences/?conf=wisit15

  .row
    .col-md-6
      h2 Comité:
      Chair   Leonardo Gassman    lgassman at gmail dot com
      br
      Co-Chairs   Guillermo Polito    guillermopolito at gmail dot com
      Carlos Lombardi carlombrdi at gmail dot com 

    .col-md-6
      .recuadro
        .destacado Fechas Importantes:
        ul
          li 10 de agosto Fecha límite para la presentación de trabajos
          li 31 de agosto Notificación de trabajos aceptados 
          li 19 de septiembre Wisit 15