extends ../_shared/_base_layout

append styles
  link(rel="stylesheet" href="propone/research.css")

append scripts
  != partial('../_shared/countdown/countdown_scripts')

block content
  .titulo Research Track

  h3.destacado Fecha de Recepción extendida

  #top.row
    .col-md-6
      .miniDestacado Se aceptarán trabajos sobre las siguientes temáticas:

      ul
        each tematica in public._data.tematicas
          li=tematica

    #criterios.col-md-6
      .miniDestacado Para la selección de los trabajos se dará especial importancia a los siguientes criterios:
      ul
        each criterio in public._data.criterios
          li=criterio

      hr
      .submissions-countdown-container.info
        h3 Quedan
        h2.submissions-countdown - días - --:--:--

      .submissions
        a.boton(href='https://easychair.org/conferences/?conf=wisit15') ¡Enviá tu paper!

  .row
    .col-md-6.comite
      hr
      h2 Comité de programa
      .row
        .col-md-2.col-xs-4
          .foto: img(src='assets/img/leo.jpg')
        .col-md-10.col-xs-8
          .rol Chair
          .nombre Leonardo Gassman    
          img.mail(src='assets/img/mail.png')
      .row
        .col-md-6
          .row
            .col-xs-4
              .foto: img(src='assets/img/GuillePolito.jpeg')
            .col-xs-8
              .rol Co-Chair
              .nombre Guillermo Polito    
              img.mail(src='assets/img/mail.png')

        .col-md-6
          .row
            .col-xs-4
              .foto: img(src='assets/img/carlosLombardi.jpg')
            .col-xs-8
              .rol Co-Chair
              .nombre Carlos Lombardi    
              img.mail(src='assets/img/mail.png')

    .col-md-6
      .recuadro
        .head
          p.destacado Fechas Importantes (Extendidas)
          hr

        .body
          each fecha_paper in public._data.fechas_papers
            ul: li 
              .fecha #{fecha_paper.fecha}
              .desc-fecha #{fecha_paper.evento}