.titulo Inscripción
.center
	p.azul La asistencia al workshop es GRATUITA.
	p Solicitaremos para la asistencia una mínima registración que ayudará a la organización del evento.
	.recuadro
		p.
			El evento se llevará a cabo el día #[span.azul Sábado 19 de septiembre] en la #[span.azul UNIVERSIDAD NACIONAL DE QUILMES]
	p Roque Sáenz Peña 352. Bernal. Buenos Aires
	a.boton(href='https://eventioz.com.ar/wisit-15') REGISTRATE!