.container
  .titulo Inscripción

  .row.condensed
    .col-xs-12.center
        p.celeste La asistencia es GRATUITA para todos los eventos del Wisit15
        p Solicitaremos para la asistencia una mínima registración que ayudará a la organización del evento.

  .row
    .col-md-6
      .subtitulo Workshop
      .center
        .recuadro.condensed
          p El evento se llevará a cabo el día 
            span.celeste Sábado 19 de septiembre 
            span en la 
            span.celeste.bigger UNIVERSIDAD NACIONAL DE QUILMES 
          p.smaller Roque Sáenz Peña 352. Bernal. Buenos Aires
        a.boton(href='https://eventioz.com.ar/wisit-15') REGISTRATE!

    .col-md-6
      .subtitulo Hands On
      .center
        .recuadro.condensed
          p Próximamente se abrirá la inscripción para a los talleres en
            span.celeste.bigger UNIVERSIDAD NACIONAL DE QUILMES 
            span.celeste.bigger FACULTAD DE INGENIERÍA - UBA
        a.boton(href='handson') Más info

  .separator