h1 Inscripción
p La asistencia al workshop es GRATUITA.
p Solicitaremos para la asistencia una mínima registración que ayudará a la organización del evento.
p El evento se llevará a cabo el día Sábado 19 de septiembre en la UNIVERSIDAD NACIONAL DE QUILMES
Roque Sáenz Peña 352. Bernal. Buenos Aires
a(href='') REGISTRATE!