.titulo Inscripción
.center
	p.azul.condensed La asistencia al workshop es GRATUITA.
	p.condensed Solicitaremos para la asistencia una mínima registración que ayudará a la organización del evento.
	.recuadro
		p.condensed.
			El evento se llevará a cabo el día #[span.azul Sábado 19 de septiembre] en la #[span.azul UNIVERSIDAD NACIONAL DE QUILMES]
	p.condensed Roque Sáenz Peña 352. Bernal. Buenos Aires
	a.boton(href='https://eventioz.com.ar/wisit-15') REGISTRATE!