@import '../globals'


body
  font-family 'Open Sans', sans-serif
  color grisMedio

.subtitulo
  margin-top 1.5em

.condensed
  font 1.6em condensed

a.boton
  font-size 1.6em

.recuadro.condensed
  width 90%
  margin-bottom 1em
  padding .5em 1.1em

  .bigger
    display: inline-block
    padding-top .3em

  .smaller
    font-size 0.9em


