.titulo Sponsors

.recuadro.center.espaciado
	.gris.center Contactate con nosotros sobre propuestas de sponsorship para el evento
	.center.mail
		img(src='assets/img/mail.png')
		a.gris(href='mailto:sponsor@uqbar.org') sponsor@uqbar.org
