.titulo Sponsors

.sponsors
	h2 Platinum
	hr
	center
		!=partial('../_shared/sponsors/platinum')
	br
	br
	h2 Gold
	hr
	center
		!=partial('../_shared/sponsors/gold')
	br
	br
	h2 Silver
	hr
	center
		!=partial('../_shared/sponsors/silver')