@import '../globals'

.recuadro.center.espaciado
  font 1.2em condensed
  margin-top 3em

  @media (max-width: 992px)
    width 80%
    font 1.8em condensed

.espaciado
	padding 1em

.mail
	align-content center
	margin-top 2em

	img
		margin-right 1em

	a
		color celeste