extends ../_shared/_base_layout

append styles
  link(rel="stylesheet" href="handson/index.css")

append scripts
  script(src="https://maps.googleapis.com/maps/api/js")
  script(type='text/javascript').
    function initialize() {
      createMap({
        lat: -34.706508,
        lng: -58.2782888,
        htmlElement: 'map-unq',
        title: 'Universidad Nacional de Quilmes'
      });

      createMap({
        lat: -34.5866187,
        lng: -58.4044972,
        htmlElement: 'map-fiuba',
        title: 'Facultad de Ingeniería - UBA'
      });

    }

    function createMap(props) {
      var latlng = new google.maps.LatLng(props.lat, props.lng);
      var mapCanvas = document.getElementById(props.htmlElement);
      var mapOptions = {
        zoom: 14,
        center: latlng,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };

      var map = new google.maps.Map(mapCanvas, mapOptions);
      var marker = new google.maps.Marker({
          position: latlng,
          map: map,
          title: props.title
      });
      console.log(mapCanvas);
    }

    google.maps.event.addDomListener(window, 'load', initialize);


block content
  .titulo Hands on

  .row 
    .col-md-6.bajada
      p En estos talleres, convocamos a expertos en tecnologías innovadoras para que nos guíen en los primeros pasos para aprovechar las nuevas tecnologías en el día a día de nuestro trabajo. 
      p Acercate con tu notebook para venir a programar y tener una experiencia de primera mano construyendo software con estas herramientas.

      ul.talleres

        li
          .donde Universidad Nacional de Quilmes 
          .cuando 12 de septiembre - 
            a(href='handson/index#unq') Más info

        li
          .donde Facultad de Ingeniería UBA 
          .cuando Fecha a definir - 
            a(href='handson/index#uba') Más info

    .col-md-6: img#foto(src='assets/img/foto-talleres_360.jpg')


  a(name='unq')
  .row.taller 
    .col-xs-12
      h2.subtitulo Universidad Nacional de Quilmes

    each taller in public._data.talleres.unq
      .col-xs-12
        h3.title-bullet: li= taller.titulo
        h4: li= taller.abstract
        h4: li
          each orador in taller.oradores
            p= orador.nombre
        h4: li
          each pre in taller.prerrequisitos
            p= pre
        h4: li= taller.inscripcion


    .col-xs-12.col-md-4.datos
      .recuadro.center 
        span.celeste Próximamente 
        span anunciaremos más talleres

      .proximamente
        p.cuando Sábado 12 de Septiembre
        p.direccion Roque Saenz Peña 352 <br> Bernal, Pcia. de Buenos Aires

    .col-xs-12.col-md-8: #map-unq.map.center

  .row.taller 
    .col-xs-12
      a(name='uba')
      h2.subtitulo Facultad de Ingeniería - UBA

    .col-xs-12.col-md-4.datos
      .recuadro.center 
        span.celeste Próximamente 
        span anunciaremos los talleres

      .proximamente
        p.cuando Fecha a definir
        p.direccion Avenida Las Heras 2214, C.A.B.A 

    .col-xs-12.col-md-8: #map-fiuba.map.center
