@import '../globals'


.titulo
  margin-bottom .8em

.bajada
  font 1.3em condensed
  color grisMedio

  p
    margin-bottom: 1.2em

  .talleres
    .donde 
      font-size 1.2em

    li
      margin-bottom: .5em

img#foto
  size: 100%

.row.taller
  margin-vertical 0em 2em

  .col-xs-12
    margin-vertical 2em 0em

    @media (max-width: 992px)
      margin-vertical 1em

    h2 
      margin-vertical .5em


.datos
  .recuadro.center
    font-size 1.5em
    padding-vertical 1em
    box-sizing border-box
    height 6.5em
    width 75%

    @media (max-width: 992px)
      float right
      width 30%
      padding-vertical .5em
      height initial
      margin-vertical 0em

  p
    text-align center
    font-size 1.5em
    color grisMedio
    margin-left .25em
    margin-bottom .1em

  p.cuando
    color celeste
    font-size 1.6em

  p.direccion
    font-size 1.4em

  @media (max-width: 992px)
    width 100%
    font-size 1.5em

    .cuando
      font-size 1.5em

    .proximamente
      width 60%
      margin-vertical .5em


.map
  height 20em
