extends ../_shared/_base_layout

append styles
  link(rel="stylesheet" href="handson/index.css")

append scripts
  script(src="https://maps.googleapis.com/maps/api/js")
  script(type='text/javascript').
    function initialize() {
      var uqnLatlng = new google.maps.LatLng(-34.706508,-58.2782888);
      var mapCanvas = document.getElementById('map-canvas');
      var mapOptions = {
        zoom: 14,
        center: uqnLatlng,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };

      var map = new google.maps.Map(mapCanvas, mapOptions);
      var marker = new google.maps.Marker({
          position: uqnLatlng,
          map: map,
          title: 'Universidad Nacional de Quilmes'
      });
    }
    google.maps.event.addDomListener(window, 'load', initialize);


block content
  .titulo Hands on

  .row 
    .col-md-6.bajada
      p En estos talleres, convocamos a expertos en tecnologías innovadoras para que nos guíen en los primeros pasos para aprovechar las nuevas tecnologías en el día a día de nuestro trabajo. 
      p Acercate con tu notebook para venir a programar y tener una experiencia de primera mano construyendo software con estas herramientas.

      ul.talleres

        li
          .donde Universidad Nacional de Quilmes 
          .cuando 12 de septiembre - 
            a(href='#unq') Más info

        li
          .donde Facultad de Ingeniería UBA 
          .cuando Fecha a definir - 
            a(href='#uba') Más info

    .col-md-6: img#foto(src='assets/img/foto-frba-aula-magna.png')

  .row 
    .col-md-4.datos
      h2.subtitulo Universidad Nacional de Quilmes
      p.cuando 12 de Septiembre
      p.donde Universidad Nacional <br> de Quilmes
      p.direccion Roque Saenz Peña 352 <br> Bernal, Pcia. de Buenos Aires

    .col-md-8: #map-canvas.center
