@import '../globals'


.titulo
  margin-bottom .8em

.bajada
  font 1.3em condensed
  color grisMedio

  p
    margin-bottom: 1.2em

  .talleres
    .donde 
      font-size 1.2em

    li
      margin-bottom: .5em

img#foto
  size: 100%


.datos
  margin-vertical 2em

  h2 
    margin-top 0em
    
  p
    text-align center
    font-size 1.5em
    color grisMedio
    margin-left .25em
    margin-bottom .1em

  p.donde
    text-transform uppercase
    color celeste
    font-size 1.6em

  p.direccion
    font-size 1.4em

  @media (max-width: 992px)
    width 80%
    font 1.8em condensed


#map-canvas
  margin-vertical 2em
  // margin-left 3em
  height 20em
